<!-- templates/app/main.html -->
{% extends "base.html" %} {% load static %} {% block content %}
<turbo-frame id="main">
  <main>
    <div id="topNav">
      <div class="imgBackground">
        <img src="{% static 'medias/icons/book.png' %}" alt="book icon" />
      </div>
      <h2>{{ guide.title|safe }}</h2>
      <i class="fa-solid fa-caret-down"></i>
    </div>
    <div id="centerContent">
      <div id="guides">
        <div class="title">
          <div class="imgBackground">
            <img src="{% static 'medias/icons/map.png' %}" alt="" />
          </div>
          <h3>Guide</h3>
          <p>Complété à <strong>45%</strong></p>
        </div>
        <div class="content">
          {% if guide.important_info %}
          <div id="previsions">
            <h4>A prévoir dans les succès qui arrivent :</h4>

            {{ guide.important_info|safe }}
          </div>
          {% endif %}

          <div id="guide">
            {% if guide.explanations %} {{ guide.explanations|safe }} {% endif%}
          </div>
        </div>
        <div class="interactable">
          <button>
            <i class="fa-solid fa-backward-step"></i>
            Tutoriel
          </button>
          <button>
            Astrub : Introduction au background et avancée du personnage
            <i class="fa-solid fa-forward-step"></i>
          </button>
        </div>
      </div>
      <div id="quests">
        <div class="title">
          <div class="imgBackground">
            <img src="{% static 'medias/icons/quests.png' %}" alt="" />
          </div>
          <h3>Quêtes</h3>
        </div>
        <div class="content">
          <h4>En route pour l'aventure</h4>

          {% if quests %}
          <ul>
            {% for quest in quests %}
            <li>
              <div>
                <a href="{{quest.url}}" target="_blank">
                  <i class="fa-solid fa-up-right-from-square"></i>
                </a>
              </div>
              <p>{{quest.title}}</p>
              <div class="box-checkbox">
                <input type="checkbox" name="check-quest" id="" />
              </div>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        <div class="interactable">
          <div>
            <i class="fa-solid fa-up-right-from-square"></i>
            <p>Ouvrir tous les liens d'un coup</p>
          </div>
          <div>
            <p>Valider toute les quêtes d'un coup</p>
            <div class="box-checkbox">
              <input type="checkbox" name="check-quests" id="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <aside>
    <div id="objectives">
      <div class="title">
        <div class="imgBackground">
          <img src="{% static 'medias/icons/achievement.png' %}" alt="" />
        </div>
        <h3>Objectifs</h3>
      </div>
      <div class="content">
        <div>{{ guide.objectives|safe }}</div>
      </div>
    </div>
    <div id="achievements">
      <div class="title">
        <div class="imgBackground">
          <img src="{% static 'medias/icons/achievement.png' %}" alt="" />
        </div>
        <h3>Succès Concernés</h3>
      </div>
      <div class="content">
        {% for achievement in achievements %}
        <ul>
          <li>
            <div>
              <i class="fa-solid fa-up-right-from-square"></i>
            </div>
            <div class="achievementName">
              <p>{{achievement.title}}</p>
              <span class="expectIcons">
                <img src="{% static 'medias/icons/fight.png' %}" alt="" />
              </span>
            </div>
            <span>33%</span>
          </li>

          {% endfor %}
        </ul>
      </div>
    </div>
  </aside>
</turbo-frame>
{% endblock %}
