:root {
	--clr-blue1: #8DA9C4;
	--clr-blue2: #134074;
	--clr-blue3: #13315C;
	--clr-blue4: #0B2545;
	--clr-light: #EEF4ED;
	--clr-grey: #999DA1;

	@font-face {
		font-family: "Roboto-Regular";
		src: url("../fonts/Roboto-Regular.ttf");
	}
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	color: var(--clr-light);
	font-family: "Roboto-Regular";
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;

	#backgroundVideo {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		object-fit: cover;
		z-index: -1;
	}

	#header {
		align-items: center;
		display: flex;
		flex: 1;
		height: 100%;

		h1 {
			display: flex;
			flex: 1;
		}

		div {
			align-items: center;
			display: flex;
			flex: 1;

			#credentials {
				align-items: flex-start;
				display: flex;
				flex: 2;
				flex-direction: column;
			}

			#contacts {
				align-items: center;
				display: flex;
				flex: 1;

				// i {
				// 	height: 24px;
				// 	object-fit: contain;
				// 	color: red;
				// }

				#discordName {
					flex-direction: column;
				}
			}
		}
	}

	#body {
		display: flex;
		flex: 6;
		height: 100%;
	}
}