<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="GPODofus est une application qui a pour but de guider la progression du joueur 'Dofus'. Il est basé sur le très bon google spreadsheet de Skyzio : 'Guide de Progression Optimisée'. 'Dofus' est un jeu développé par Ankama Games.">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
    <link rel="icon" href="{% static 'medias/icons/favicons/favicon.ico' %}" type="image/x-icon" />

    <link rel="stylesheet" href="../../../static/css/installer.css">
    <script src="../../../static/js/installer.js"></script>
    <title>Installation de GPOD3...</title>
  </head>
  <body id="installer">
    <h1 id="installer-title">Installation de GPOD3<span id="installer-dots"></span></h1>    
    <div id="installer-background"></div>
    <div id="installer-content">
      <p>Première installation detectée.</p>
      <p>• Création du venv... <span class="success">Succès</span></p>
      <p>• Téléchargement des dépendances Python... Installation... <span class="success">Succès</span>.</p>
      <p>• Ajout des raccourcis sur le Bureau... <span class="success">Succès</span>.</p>

      <span class="success"><strong>GPODofus3</strong> a été installé avec succès.</span>

      <p>Fermeture de l’installateur puis lancement de GPOD3...</p>
    </div>
  </body>
</html>