<turbo-frame id="quest_frame_{{ quest.id }}">
  <li
    class="js-quest{% if quest.completed %} isCompleted{% endif %}"
    data-achievement-id="{% if selected_achievement %}{{ selected_achievement.id }}{% else %}{{ achievement.id }}{% endif %}">
    <div>
      <a href="{{quest.url}}" target="_blank">
        <i class="fa-solid fa-up-right-from-square"></i>
      </a>
    </div>
    <p>{{quest.title}}</p>
    <button
      id="quest_{{ quest.id }}"
      type="button"
      class="qButton {% if quest.completed %}uncheck{% else %}check{% endif %}">
      {% if quest.completed %}
      <i class="fa-solid fa-xmark"></i>
      {% else %}
      <i class="fa-solid fa-check"></i>
      {% endif %}
    </button>
  </li>
</turbo-frame>
