<form method="post" action="{% url 'app:alignment_choice' %}" id="alignment_form">
    {% csrf_token %}
    <div class="form-group">
        <label for="alignment_select">Défini à <strong>{{user_alignment_name}}</strong></label>
        <select class="form-control" id="alignment_select" name="alignment">
            <option value="3">_Défaut</option>
            {% for alignment in alignments %}
                {% if alignment.name != "Aligner" %}
                <option value="{{ alignment.id }}" {% if alignment.id == current_alignment_id %}selected{% endif %}>
                    {{ alignment.name }}
                </option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="hidden">Changer l'Alignement</button>
</form>