{% load static %}
<div class="title">
  <div class="imgBackground">
    <img src="{% static 'medias/icons/quest.png' %}" alt="" />
  </div>
  <h3>Quêtes</h3>
</div>
<div class="content">
    <turbo-frame id="quest_frame_achievement_title">
      <h4>
        {% if selected_achievement %} 
        {{ selected_achievement.title }} {% else %} {{ achievement.title }} 
        {% endif %}
      </h4>
    </turbo-frame>
    {% if quests %}
    <turbo-frame id="frame_quests">
      <ul>
        {% for quest in quests %}
          {% include "sections/_quest_item.html" %}
        {% endfor %}
      </ul>
    </turbo-frame>
    {% endif %}
</div>
<div class="interactable">
  <button id="openAll">
    <i class="fa-solid fa-up-right-from-square"></i>
    Ouvrir tout
  </button>

  <button id="validateAll">
    Valider tout
    <i class="fa-solid fa-check-double"></i>
  </button>
</div>
