{% load static %}
<div class="title">
  <div class="imgBackground">
    <img src="{% static 'medias/icons/quest.png' %}" alt="" />
  </div>
  <h3>Quêtes</h3>
</div>
<div class="content">
  {% include 'sections/_quests_achievement_title.html' %}
  {% if quests %}
    {% include 'sections/_frame_quests.html' %}
  {% endif %}
</div>
<div class="interactable">
  <button id="openAll">
    <i class="fa-solid fa-up-right-from-square"></i>
    Ouvrir tout
  </button>

  <button id="validateAll">
    Valider tout
    <i class="fa-solid fa-check-double"></i>
  </button>
</div>
