{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checking LocalStorage</title>
    <script src="{% static 'js/turbo.es2017-umd.js' %}" defer></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const lastGuideId = localStorage.getItem("lastGuideId");

            if (lastGuideId) {
                // Rediriger vers le dernier guide vu
                Turbo.visit(`/app/guide/${lastGuideId}/`);
            } else {
                // Rediriger vers le guide par défaut
                Turbo.visit(`/app/guide/1/`);
            }

            // Marquer comme redirigé
            localStorage.setItem("hasRedirected", "true");
        });
    </script>
</head>
<body>
</body>
</html>