{% extends "base.html" %} {% load static %} {% block content %}
<!-- Garder frame_main comme ID principal -->
<turbo-frame id="frame_main">
  <main>
    <div id="topNav" data-turbo-permanent>{%include "sections/nav.html"%}</div>
    <div id="centerContent">
      <!-- Ces frames seront mis à jour lors de la navigation -->
      <turbo-frame id="frame_guide">
        {%include "sections/guide_explanations.html"%}
      </turbo-frame>
      <turbo-frame id="frame_quests">
        {% include "sections/quests.html" %}
      </turbo-frame>
    </div>
  </main>

  <aside>
    <turbo-frame id="frame_objectives">
      {%include "sections/objectives.html"%}
    </turbo-frame>
    <turbo-frame id="frame_achievements">
      {%include "sections/achievements.html" %}
    </turbo-frame>
  </aside>
</turbo-frame>
{% endblock %}
