<!DOCTYPE html>
<html lang="fr">
  <head>
    {% load static %} {% load compress %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="GPODofus est une application qui a pour but de guider la progression du joueur 'Dofus'. Il est basé sur le très bon google spreadsheet de Skyzio : 'Guide de Progression Optimisée'. 'Dofus' est un jeu développé par Ankama Games.">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self'; object-src 'none';">
    <link rel="icon" href="{% static 'medias/icons/favicons/icon.ico' %}" type="image/x-icon" />

    {% compress css %}
      <link rel="stylesheet" type="text/less" href="{% static 'css/styles.less' %}" />
    {% endcompress %}
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
    <script src="{% static 'js/turbo.es2017-umd.js' %}" defer></script>
    <script src="{% static 'js/app.js' %}" type="module" defer></script>
    <title>Guide de progression optimisée</title>
  </head>
  <body id="theme-emeraude">
    <img id="backgroundImage" src="{% static 'medias/backgrounds/background.webp' %}" alt="" data-turbo-permanent
    srcset="
      {% static 'medias/backgrounds/background_299x171.webp' %} 299w, 
      {% static 'medias/backgrounds/background_1060x606.webp' %} 1060w, 
      {% static 'medias/backgrounds/background_1470x840.webp' %} 1470w, 
      {% static 'medias/backgrounds/background_1792x1024.webp' %} 1792w, 
      {% static 'medias/backgrounds/background_2048x1170.webp' %} 2048w"
    sizes="100vw">
    
    <div id="header">
      <h1>Guide de progression optimisée</h1>
      <div>
        <div id="credentials">
          <p>Inspiré du guide de <strong>Skyzio</strong></p>
          <p>Application développée par <strong>Shiinasan</strong></p>
        </div>
        <div id="contacts">
          <p><i class="fa-brands fa-discord"></i>_skyzio</p>
          <p><i class="fa-brands fa-discord"></i>shiinasan.</p>
        </div>
      </div>
    </div>
    
    <div id="content">{% block content %}{% endblock %}</div>
  </body>
</html>